@using Microsoft.AspNetCore.Http
@using EcommerceCommon.Utilities.Constants
@inject IHttpContextAccessor httpContext
<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/"><img src="/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/Category/Index">Shop Category</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Product/Details">Product Details</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Product/Checkout">Product Checkout</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Cart/Index">Shopping Cart</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Cart/Confirm">Confirmation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/Blog/Index">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Blog/Details">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="/Login/Index">Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
                                <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/Contact/Index">Contact</a></li>
                        @if (httpContext.HttpContext.Session.GetString("Username") != null)
                        {
                            <li class="nav-item"><a class="nav-link" href="/Contact/Index">@httpContext.HttpContext.Session.GetString(SystemConstant.AppSettings.Username)</a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>
</header>

@section Scripts{
    <script>
        //$(".submenu ul li").click(function () {
        //    $(".submenu ul li").removeClass("active");
        //    $(this).addClass("active");
        //});

        //$('.dropdown-menu').on('click', 'li', function () {
        //    $('.dropdown-menu li').removeClass('active');
        //    $(this).addClass('active');
        //});

        $(document).ready(function () {
            $('.dropdown-menu li a').click(function (e) {

                $('.dropdown-menu li a').removeClass('active');

                var $parent = $(this);
                if (!$parent.hasClass('active')) {
                    $parent.addClass('active');
                }
                e.preventDefault();
            });
        });
    </script>
}